{erl_opts, [
    debug_info,
    {src_dirs, [
        "src",
        "src/set_cost_budget",
        "src/record_spending",
        "src/breach_cost_budget",
        "src/adjust_cost_budget",
        "src/on_llm_call_tracked_record_spending",
        "src/on_budget_breached_pause_agents"
    ]}
]}.

{deps, []}.
